@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700;800&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth; /* NOT NEEDED */
  background-color: var(--light-gray)
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.main-container .qr-code-box {
  width: 300px;
  padding: 15px;
  text-align: center;
  border-radius: 19px;
  background-color: var(--white);
  box-shadow: -2px 25px 15px -3px rgba(0,0,0,0.0),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.qr-code-box .qr-code-image {
  width: auto;
  height: 270px;
  border-radius: .8rem;
  background-image: url(/assets/images/image-qr-code.png);
  background-size: contain;
}

.qr-code-box .qr-code-text-content {
  margin: 20px 0;
}

.qr-code-text-content .qr-code-text {
  margin: 0 8px;
  font-weight: 700;
  font-size: 22px;
  color: var(--dark-blue);
}

.qr-code-text-content .qr-code-subtext {
  margin: 15px 5px;
  color: var(--grayish-blue);
}


@media screen and (min-width: 375px) {
  .main-container, .attribution {
    text-align: center;
  }
}


